<!DOCTYPE html>
<html>
<head>
    <title>Keno Number Picker</title>
    <style>
        body {
            background-color: #333;
            color: #fff;
            font-family: Arial, sans-serif;
            margin: 40px;
        }
        hr {
            border: 1px solid #555;
        }
    </style>
</head>
<body>
    <h2>Keno Picker</h2>
    Seed: {{.seed}}<br><hr><br>
    Result 1:<br> {{range .numbers}}<div>{{.}}</div>{{end}}
    <br><hr><br>
    Result 2:<br> {{range .alternate}}<div>{{.}}</div>{{end}}
    <br><hr><br>
    Three Spot:<br> {{range .threespot}}<div>{{.}}</div>{{end}}
    <br><hr><br>
    Coin flip: {{if .coinFlip}}H{{else}}T{{end}}
</body>
</html>
